* {
  box-sizing: border-box;
}

html, body, #root, .App {
  min-height: 100vh;
}

body {
  margin: 0;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 700px;
}

.button {
  padding: 8px 30px;
  border-radius: 10px;
  border-color: rgb(0, 157, 255);
  color: white;
  box-shadow: 0 0 40px 40px rgb(0, 157, 255) inset, 0 0 0 0 rgb(0, 157, 255);
  transition: all 150ms ease-in-out;
}
