header {
  display: flex;
  justify-content: space-between;
  padding: 20px 4vw 20px 1vw;
  background-color: rgb(56, 107, 210);
}

header * {
  color: rgb(255, 255, 255);
}

.company-logo {
  text-decoration: none;
}
