header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(56, 107, 210);
  color: #FFF;
  min-height: 80px;
  padding: 1em 3vmin;
  width: 100%;
  box-shadow: 0 1px 5px rgba(42, 49, 106, 0.429);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.735);
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  font-size: 1.7em;
}

header * {
  color: rgb(255, 255, 255);
}

header a:hover {
  text-decoration: none;
  color: yellow;
}
