.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 5vmin;
}

.home a {
  margin-left: 5px;
}

.home button:hover {
  box-shadow: 0 0 10px 0 rgb(110, 110, 110) inset, 0 0 10px 4px rgb(110, 110, 110);
  color: white;
}

.project-id-input input {
  width: fit-content;
  margin: 15px auto 50px auto;
  line-height: 2em;
  border: solid 1px rgba(128, 128, 128, 0.914);
  border-radius: 5px;
  text-indent: 5px;
}

