main {
  min-height: calc(100vh - 130px);
  position: relative;
  padding-top: 6vmin;
  padding-bottom: 150px;
}

.project-id-input:focus, input:focus, input {
  outline: none;
}

.disclaimer {
  position: absolute;
  color: black;
  bottom: 10%;
  font-size: smaller;
  text-align: center;
  font-size: 14px;
}
