.messages {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 252, 233);
  border: solid 2px rgb(82, 82, 82);
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  margin-top: 50px;
}

.no-messages {
  font-style: italic;
  color: gray;
  text-align: center;
}