.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: right;
  margin: 5px 0;
  border: solid 1px rgba(128, 128, 128, 0.181);
  border-radius: 10px;
  padding: 10px 15px;
}

.message .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
}

.message.admin {
  text-align: left;
  background-color: rgba(192, 213, 255, 0.593);
}

.message.client {
  background-color: rgb(243, 224, 213);
}

.message .author {
  margin: 0 2px;
  font-weight: 700;
}

.date-time {
  font-style: italic;
  transform: translate(0, 25%);
  color: rgb(85, 85, 85);
  font-size: 10px;
}

.date-time.admin {
  margin-left: 5px;
}

.date-time.client {
  text-align: right;
  margin-right: 5px;
}
