.message-input {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 40px;
  border: solid 1px rgba(128, 128, 128, 0.221);
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  padding: 15px;
  padding-top: 25px;
}

.message-input .icon {
  display: inline-block;
  color: rgba(89, 110, 39, 0.782);
  margin-top: 4px;
  margin-right: 3px;
}

.message-input .input-container {
  display: flex;
  width: 100%;
}

.message-input input {
  border-radius: 8px;
  border: solid 1px rgba(128, 128, 128, 0.686);
  background-color: rgb(255, 255, 255);
  height: 2em;
  width: 100%;
  margin-right: 10px;
}

.message-input button {
 height: 2em;
 padding-top: 0;
 padding-bottom: 0;
 background: rgba(3, 236, 3, 0.519);
 margin: auto;
}
