.project-info {
  max-width: 650px;
  margin: auto;
}

.project-info > * {
  margin: 15px 0;
}

.project-info .dropdown {
  width: 100%;
}

.project-info button.submit {
  margin-top: 40px;
}

.project-info button + button {
  margin-left: 10px;
}
