.projects h2 {
  text-align: center;
  margin: 8vmin 15px 7vmin 15px;
}

.project-list {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 5px auto;
  padding: 0;
}

.project-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border: solid 1px rgb(56, 107, 210);
  background-color: rgba(128, 128, 128, 0.112);
  border-radius: 8px;
  width: 100%;
  max-width: 1000px;
  margin: 5px auto;
}

.project-summary:hover {
  background-color: rgba(56, 107, 210, 0.675);
  color: white;
}

.project-summary .label {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px 0;
  cursor: pointer;
}

@media only screen and (min-width: 850px) {
  .project-list {
    max-width: 100%;
  }
  
  .project-summary {
    flex-direction: row;
  }

  .project-summary .label {
    flex-direction: row;
  }
}
