.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 350px;
}

.project-info .label {
  min-width: 400px;
  font-size: 20px;
}

.project-info .label label {
  min-width: 150px;
  text-align: right;
}

.project-info button {
  position: absolute;
  padding: 5px 15px;
  right: 5%;
  top: 40%;
}

.project-info .text-input input[name='date-requested'] {
  cursor: text;
}

.project-info .text-input input[name='date-requested']
::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.project-info.editing {
  align-items: flex-end;
  padding-right: 10vmax;
}

.project-info.editing .text-input {
  flex-direction: row;
  align-items: center;
  width: fit-content;
  margin: 5px 0;
}

.project-info.editing .text-input input {
  min-width: 400px;
}

@media screen and (max-width: 1000px) {
  .project-info button {
    position: static;
    width: fit-content;
    margin: auto;
    margin-top: 25px;
  }
}


@media screen and (max-width: 1325px) {
  .project-info.editing {
    padding-right: 0;
  }
}
