.select {
  text-align: left;
  width: 100%;
}

.select label {
  font-weight: 600;
  margin: 0;
}

.select select {
  width: 400px;
  height: 2.5em;
  border-radius: 5px;
  padding-right: 10px;
  text-indent: 3px;
}
