@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  width: fit-content;
  margin: auto;
  padding: 25px;
  width: 100%;
  margin-top: 8vmin;
}

.spinner-container h3 {
  text-align: center;
  font-size: 2.5em;
}

.spinner {
  animation: spin 2s linear infinite;
  border: 20px solid #f3f3f3;
  border-top: 20px solid rgb(56, 107, 210);
  border-radius: 50%;
  height: 15vmin;
  width: 15vmin;
  text-align: center;
  margin: auto;
  margin-top: 15vmin;
}
